@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Toastify animation fix */
@keyframes Toastify__slideInRight {
  0% {
    transform: translate3d(110%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
