/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #111;
}

/* APP LAYOUT */
.app-content {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 64px);
  background: #fafafa;
}

/* RIGHT SIDE PAGE CONTAINER */
.admin-page-container {
  flex: 1;
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
}
